[Unit]
Description=docker registry
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=0
TimeoutStopSec=30

WorkingDirectory=/opt/docker-registry
ExecStartPre=-/usr/local/bin/docker-compose down  
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose  stop 


[Install]
WantedBy=default.target