[Unit]
Description=Atlassian Bamboo Agent
After=syslog.target network.target

[Service]
Type=forking
User=bo.chen
Group=bo.chen
Restart=always
TimeoutStartSec=0
TimeoutStopSec=30

ExecStart=/bamboo/bin/bamboo-agent.sh start
ExecStop=/bamboo/bin/bamboo-agent.sh stop

[Install]
WantedBy=multi-user.target
